# Maven target directory
target/

# Maven build helper
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.ibt
*.sdi
*.CSM
*innodb_redo
binlog*

# Logs
*.log
logs/

# Compiled class files
*.class

# IDEs
# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
*.launch

# VS Code
.vscode/

# OS system files
.DS_Store     # macOS
*~            # Linux temp files (like file~)
Thumbs.db     # Windows
desktop.ini

# Environment / Secrets
.env
.env.*

# Test reports
surefire-reports/
test-output/

# Docker & Jib
.docker/
**/target/jib-cache/
docker-compose.override.yml

# Local database or caches (optional)
*.h2.db
*.mv.db

# Others
*.tmp
*.bak
*.swp

# Package files
*.jar
*.war
*.ear
